<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
            <h1>Student Performance Analyzer</h1>
            <a href="FullAnalysis">
                <div class="content">
                    Full Data Analysis
                </div>
            </a>
            <a href="IndividualAnalysis">
                <div class="content">
                    Individual Analysis
                </div>
            </a>
    </div>
</body>
</html>